<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlsDYtOSou4MSw6v3xQdva-zXXQwhzuXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>325164339395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dewall.dewallads</string>
	<key>PROJECT_ID</key>
	<string>dewall-7</string>
	<key>STORAGE_BUCKET</key>
	<string>dewall-7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325164339395:ios:33f93cc61637af24e25276</string>
</dict>
</plist>